!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %title A HAML Example
  %body{:class => 'a_class'}
    /a comment
    #content
      %h1 Some Items
      %p
        Here is some text.
      %hr
      %ul#items.list
        %li.item Item 1
        %li.item
          Item 2 is
          multiline.
      
          
          